<header>
<nav class="sub-nav">
    <a href="/notifications">
        <svg title="notifications">
            <use href="../icons-svg/icons.svg#notifications" />
        </svg>
    </a>
    <a href="/">
        <svg title="epesode saved">
            <use href="../icons-svg/icons.svg#navbar-saved"/>
        </svg>
    </a>
    <a href="/settings">
        <svg  title="setting">
            <use href="../icons-svg/icons.svg#reading-settings" />
        </svg>
    </a>
</nav>
<nav class="main-nav">
    <a href="/recent">
        <svg title="recent">
            <use href="../icons-svg/icons.svg#sidenote-document" />
        </svg>
        Recent
    </a>
    <a href="/">
        <svg title="home">
            <use href="../icons-svg/icons.svg#logo-small-red"/>
        </svg>
        Home
    </a>
    <a href="./search">
        <svg title="search">
            <use href="../icons-svg/icons.svg#navigation-search" />
        </svg>
        Search
    </a>
<!-- <div class="playing-book">
    <img src="/image/-VgmQbx1AhhZzJNP3Bi3RKKH9qE.jpg" alt="" width="70" height="70">
    <h4>ontmoetingen met onbekenden</h4>
    


</div> -->
</nav>

</header>   